In [1]:
import pandas as pd 
import numpy as np 
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.metrics import classification_report, root_mean_squared_error
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('Cleanedsales.csv')
data.head()

,Unnamed: 0,Date,Year,Customer ID,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Product,Order Quantity,Unit Cost,Unit Price,Cost,Revenue
0,0,2013-11-06,2013,11019,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,360,950
1,1,2015-11-06,2015,11019,19,M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,360,950
2,2,2014-03-03,2014,11039,49,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1035,2401
3,3,2016-03-03,2016,11039,49,M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,900,2088
4,4,2014-04-25,2014,11046,47,F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,180,418

In [3]:
data.isnull().sum()

Unnamed: 0          0
Date                0
Year                0
Customer ID         0
Customer Age        0
Customer Gender     0
Country             0
State               0
Product Category    0
Sub Category        0
Product             0
Order Quantity      0
Unit Cost           0
Unit Price          0
Cost                0
Revenue             0
dtype: int64

In [4]:
encoder = LabelEncoder()
cat_cols = list(data.select_dtypes(include='object').columns)
for col in cat_cols:
    encoder.fit(data[col])
    data[col] = encoder.transform(data[col])

In [5]:
data.head()

,Unnamed: 0,Date,Year,Customer ID,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Product,Order Quantity,Unit Cost,Unit Price,Cost,Revenue
0,0,1059,2013,11019,19,1,1,5,0,0,12,8,45,120,360,950
1,1,1636,2015,11019,19,1,1,5,0,0,12,8,45,120,360,950
2,2,1176,2014,11039,49,1,0,26,0,0,12,23,45,120,1035,2401
3,3,1753,2016,11039,49,1,0,26,0,0,12,20,45,120,900,2088
4,4,1229,2014,11046,47,0,0,26,0,0,12,4,45,120,180,418

In [6]:
x = data.drop(columns=['Revenue'])
y = data.Revenue

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.2, random_state=23)

scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [9]:
model = RandomForestRegressor(n_estimators=10, random_state=25)
model.fit(x_train, y_train)
train_preds = model.predict(x_train)
test_preds = model.predict(x_test)

train_rmse = root_mean_squared_error(y_train, train_preds)
test_rmse = root_mean_squared_error(y_test, test_preds)

In [ ]:
print()