## RANDOM FOREST 

#### Random Forest Regressor

In [1]:
import pandas as pd 
import numpy as np 

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import root_mean_squared_error
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
encoder = LabelEncoder()
categorical_columns = list(data.select_dtypes(include='object').columns)
for col in categorical_columns:
    encoder.fit(data[col])
    data[col] = encoder.transform(data[col])

data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [7]:
x = data.drop(columns= ['charges'])
y = data['charges']

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size= 0.15, random_state=30)

In [ ]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [16]:
model = RandomForestRegressor(n_estimators=5, random_state=30, max_depth=3)
model.fit(x_train,y_train)
train_preds = model.predict(x_train)
test_preds = model.predict(x_test)

train_rmse = root_mean_squared_error(y_train, train_preds)
test_rmse = root_mean_squared_error(y_test, test_preds)

print(f'Train Score: {train_rmse}')
print(f'Test Score: {test_rmse}')

Train Score: 4330.544956970437
Test Score: 4755.08555393501

## ASSIGNMENT

#### Train a RandomForest Classifier on loan data

In [17]:
data = pd.read_csv('loan_data.csv')
data.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

In [18]:
data.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

In [19]:
# encode categorical veriable

encoder = LabelEncoder()
cat_col = list(data.select_dtypes(include='object').columns)
for col in cat_col:
    encoder.fit(data[col])
    data[col] = encoder.transform(data[col])

In [1]:
x = data.drop(columns=['loan_status'])
y = data.loan_status

x_train, x_test, y_train, y_test = train_test_split (x, y, train_size= 0.2, random_state= 20)

NameError: name 'data' is not defined